* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    margin: 0 auto;
    width: 800px;
    border-radius: 10px;

}

.profile-box {
    margin-top: 50px;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.title {
    padding: 50px;
    text-align: center;
}

.left {
    float: left;
    width: 60%;
    height: 100%;
}

.right {
    float: right;
    width: 40%;
    height: 100%;
}